body {
    margin: 0px;
    padding: 0px;
}

.introduction-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
}

.text-container {
    padding-top: 197px;
    padding-left: 100px;
    padding-right: 0px;
    padding-bottom: 147px;

}

.introduction-header {
    margin-top: 0px;
    color: #272727;
    font-size: 80px;
    line-height: normal;
    font-weight: 800;
    margin-bottom: 32px;
}
.sub-header{
    margin-top: 0px;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60)
}

.shop-button{
  padding: 20px 43px;
  background: #E55473;
  border-radius: 8px;
  border: 1px solid #E55473;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.image-container{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 100px;
}