body {
    margin: 0px;
    padding: 0px;
}

.introduction-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    margin-bottom: 178px;
}

.text-container {
    padding-top: 197px;
    padding-left: 50px;
    padding-right: 0px;
    padding-bottom: 147px;

}

.introduction-header {
    margin-top: 0px;
    color: #272727;
    font-size: 80px;
    line-height: normal;
    font-weight: 800;
    margin-bottom: 32px;
}

.sub-header {
    margin-top: 0px;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60)
}

.shop-button {
    padding: 20px 43px;
    background: #E55473;
    border-radius: 8px;
    border: 1px solid #E55473;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.image-container {
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 50px;
}

.featured-text {
    text-align: center;
}

.featured-text h2 {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    margin-top: 0px;
    margin-bottom: 32px;
}

.featured-text p {
    margin-top: 0px;
    margin-bottom: 48px;
    margin-left: 500px;
    margin-right: 500px;
}

.featured-image-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 50px;
}

#img1 {
    background: url(./images/Rectangle\ 1.png);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1 img {
    width: 310px;
    height: 428px;
}

#img2 {
    background: url(./images/Rectangle\ 2.png);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img2 img {
    width: 310px;
    height: 428px;
}

#img3 {
    background: url(./images/Rectangle\ 3.png);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img3 img {
    width: 310px;
    height: 428px;
}

.rectangle-container h4 {
    text-decoration: underline;
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

.speciality {
    margin-top: 128px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 86px 175px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 128px;
}

.avatar-container img {
    margin-bottom: 16px;
}

.avatar-container p {
    margin: 0px;
}

.avatar {
    display: flex;
    justify-content: center;
}

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
#off-color{
    color: #E55473;
}
.hot-deal{
    height: 620px;
    display: flex;
}
.hot-deal-container{
    padding-top: 230px;
    padding-bottom: 162px;
    padding-left: 250px;
}
.hot-deal h2{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 24px;
}

.hot-deal p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 32px;
}
.hot-deal img{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 250px;
    padding-left: 150px;
}
.instagram{
     margin: 128px 50px;
}
.instagram-container{
    text-align: center;
}

.instagram-container h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 24px;
}
.instagram-container p{
    margin-top: 0;
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.instagram-image{
   display: flex; 
   justify-content: space-between;
}

.latest-deal{
    margin: 0 50px 128px 50px;
    padding: 122px 287px;
    background: url(images/Rectangle\ 9.png);
    text-align: center;
}

.latest-deal h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}

.latest-deal p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 48px;
}

.latest-deal input{
    padding: 22px;
    width: 550px;
    border: 1px solid white;
    border-radius: 8px;
    outline: none;
}

.latest-deal button{
    color: white;
    background:#E55473;
    padding: 18px 31px;
    border-radius: 8px;
    border: 1px solid #E55473;
    margin-right: 16px;
}

footer{
    background: #111010;
    text-align: center;
}

footer h3{
    color: white;
    font-size: 48px;
    font-weight: 800;
    padding-top: 128px;
    margin-bottom: 24px;
}
footer p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 32px;
}
.rights-text{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 128px;
    margin-bottom: 0;
}
