body {
    margin: 0px;
    padding: 0px;
}

.introduction-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    margin-bottom: 178px;
}

.text-container {
    padding-top: 197px;
    padding-left: 100px;
    padding-right: 0px;
    padding-bottom: 147px;

}

.introduction-header {
    margin-top: 0px;
    color: #272727;
    font-size: 80px;
    line-height: normal;
    font-weight: 800;
    margin-bottom: 32px;
}
.sub-header{
    margin-top: 0px;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60)
}

.shop-button{
  padding: 20px 43px;
  background: #E55473;
  border-radius: 8px;
  border: 1px solid #E55473;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.image-container{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 100px;
}

.featured-text{
    text-align: center;
}
.featured-text h2{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    margin-top: 0px;
    margin-bottom: 32px;
}
.featured-text p{
    margin-top: 0px;
    margin-bottom: 48px;
    margin-left: 500px;
    margin-right: 500px;
}
.featured-image-container{
    display: flex;
    justify-content: space-around;
}

#img1{
    background: url(./images/Rectangle\ 1.png);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img1 img{
    width: 310px;
    height: 428px;
}
#img2{
    background: url(./images/Rectangle\ 2.png);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img2 img{
    width: 310px;
    height: 428px;
}
#img3{
    background: url(./images/Rectangle\ 3.png);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img3 img{
    width: 310px;
    height: 428px;
}

.rectangle-container h4{
    text-decoration: underline;
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}